{% extends 'base.html' %}
{% block con %}

    {% load mathfilters %}

    <div class="container mt-5 mb-5">
        <h1><b>{{ t.subject }}</b></h1>

        <div class="row mt-5">
            <div class="col-lg-8">
                <textarea class="form-control" style="height: 300px;" disabled>{{ t.content }}</textarea>
            </div>
            <div class="col-lg-4">
                <img src="{{ t.maker.getpic }}" width="100%">
                <div class="text-center mt-3">
                    <h4>made by <b>{{t.maker}}</b></h4>
                </div>
            </div>
        </div>

        <div class="text-end mt-3">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                POST ✨
            </button>
        </div>


        {% if user in t.voter.all %}
            <div class="row mt-5">
                {% for i in cset %}
                    <div class="col-lg-4">
                        <img src="{{ i.chpic.url }}" width="100%">
                        <div class="text-center mt-3">
                            <h5><b>{{ i.chname}}</b></h5>
                        </div>
                        <div class="progress mt-3 mb-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ i.choicer.all.count | div:t.voter.all.count | mul:100 }}%">{{ i.choicer.all.count | div:t.voter.all.count | mul:100 }} %</div>
                        </div>
                        <textarea class="form-control" disabled>{{ i.chcom }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="text-end mt-4">
                <a href="{% url 'vote:cancel' t.id %}" class="btn btn-dark">투표취소</a>
            </div>
        {% else %}
            <form method="post" action="{% url 'vote:vote' t.id %}">
                {% csrf_token %}
                <div class="row mt-5">
                    {% for i in cset %}
                        <div class="col-lg-4">
                            <input class="form-check-input mb-3" type="radio" name="ch" value="{{i.id}}" {% if forloop.first %} checked {% endif %}>
                            <img src="{{ i.chpic.url }}" width="100%">
                            <div class="text-center mt-3">
                                <h5><b>{{ i.chname}}</b></h5>
                            </div>
                            <textarea class="form-control" disabled>{{ i.chcom }}</textarea>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-end mt-4">
                    <button class="btn btn-dark">투표하기</button>
                </div>
            </form>
        {% endif %}










        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">북마크 추가 알림</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{% url 'book:create' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="text-end">
                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <input type="checkbox" name="impo" class="btn-check" id="btncheck2" autocomplete="off">
                                    <label class="btn btn-outline-warning" for="btncheck2">★</label>
                                </div>
                            </div>
                            <input type="hidden" name="sname" value="[VOTE]{{ t.subject }}">
                            <input type="hidden" name="surl" value="{{ request.path }}">
                            <b>사이트 설명</b> <input type="text" name="scom" class="form-control mt-2">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <button class="btn btn-primary">북마크생성</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>





    </div>
{% endblock %}